/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans serif;
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
   
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    margin-top: 1%;
    margin-left:-5%;
}

.input-field{
    display: flex;
    flex-direction: column;
}

::-webkit-input-placeholder{
    color: black;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    background-color: white;
}
.form{
    width:100%;
    padding:30px;
    background: rgba(255,255,255,0.3);
    border-radius: 30px;   
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:rgb(232, 16, 92);
    text-shadow: 1px 1px 0px blue;
}
.input-field .input{
    position: relative;
    height: 45px;
    width: 87%;
    border: 1px outset white;
    outline: none;
    border-radius: 30px;
    color: black;
    padding: 0 0 0 42px;
    font-weight: bold;
    background: rgba(255,255,255,0.2);
}
i{
    position:static;
    top: -31px;
    left: 17px;
    color: black;
    transform: translateY(-10%); 
}
/* .input-field .input {
    position: relative; 
    height: 45px;
    width: 87%;
    border: 1px outset white;
    outline: none;
    border-radius: 30px;
    color: black;
    padding: 0 0 0 42px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
}

i {
    position: absolute;
    top: -31px;
    transform: translateY(-50%); 
    left: 17px;
    color: black;
} */