{% extends "pages/master.html" %}
 {% load static %}

 {% block title %}
 Create Packages
 {% endblock %}
 {% block extra_head %}
 <link rel="stylesheet" href="{% static 'css/create_package.css' %}">
 
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
         crossorigin="anonymous"></script>  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
 {% endblock %}

 {% block content %}
 <body style=" background-image: url('{% static "assets/img11.jpg" %}');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;">

<section class="sec1">
    <h1>Create Package</h1>
    <form action="{% url 'create_package' %}" method="POST" class='form' enctype="multipart/form-data"><br>
      {% csrf_token %}
        <div class="form-floating mb-3 ">
            <input type="text" name="package_name" class="form-control rounded-pill border border-info" id="floatingInput" placeholder="Package Name" required>
            <label for="floatingInput">Package Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="package_type" class="form-control rounded-pill border border-info" id="floatingInput" placeholder="Package Type" required>
            <label for="floatingInput">Package Type</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="package_location" class="form-control rounded-pill border border-info" id="floatingInput" placeholder="Package Location" required>
            <label for="floatingInput">Package Location</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" name="package_price" class="form-control rounded-pill border border-info" id="floatingInput" placeholder="Package Price" required>
            <label for="floatingInput">Package Price</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="package_features" class="form-control rounded-pill border border-info" id="floatingInput" placeholder="Package Features" required>
            <label for="floatingInput">Package Features</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control rounded-pill border border-info" name="package_details" placeholder="Package Details" id="floatingTextarea" required></textarea>
            <label for="floatingTextarea">Package Details</label>
          </div><br>
          <div class="input-group mb-3">
            <label class="input-group-text rounded-pill border border-info"  for="inputGroupFile01">Upload</label>
            <input type="file" name="package_image" class="form-control" id="inputGroupFile01" required>
          </div><br>
        <button class="btn btn-primary butt" type="submit">Create</button>         
    </form>
</section>
{% if messages %}
<script>
    alert("{% for msg in messages %}{{ msg }}{% endfor %}");
</script>
{% endif %}
</body>
{% endblock %}