{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>User Login</title>
</head>
<body style=" background-image: url('{% static "assets/disney.png" %}');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;">
<a href="javascript:history.go(-1);" class="back-button">
    <i style="color:red;" class="bx bx-arrow-back"></i>
</a>

     <div class="box">
        <div class="container">
            <form action="{% url 'sign_in' %}" method="POST" class="form">
                {% csrf_token %}
            <div class="input-field">
                <input type="text" class="input" name="username" placeholder="Username" required>
                <i class="bx bx-user"></i>
            </div>
            <div class="input-field">
                <input type="password" class="input" name="password" placeholder="Password" required>
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-field">
                <input type="submit" class="submit" value="Login">
            </div>
            <p>Don't Have An Account.Please..<a href="{% url 'sign_up' %}">Register</a></p>
            </form>
        </div>
    </div>
    
    
    
    {% if messages %}
    <script>
        alert("{% for msg in messages %}{{ msg }}{% endfor %}");
    </script>
    {% endif %}
</body>
</html>